body {
    background-image: url(email-pattern.png);
}
.nav .justify-content-end {
    width: 75%;
}
.nav {
    margin-right: 175px;
}
.myName {
    width: 25%;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 9px;
    margin-left: 175px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    background-color: #ffffff;
    height: 500px;
    margin-top: 35px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    line-height: 30px;
}
.aboutme {
    padding: 10px;
    border-bottom: 3px solid lightgrey;
    margin-bottom: 25px;
    color: #4aaaa5;
}
.carlosimage {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
}
.nav-link {
    color: #4aaaa5;
}
header {
    background-color: #ffffff;
    margin: 0;
    padding-bottom: 25px;
    border-bottom: solid 3px lightgrey;
}
footer {
    background-color: #666666;
    text-align: center;
    color: lightgrey;
    border-top: 5px solid #4aaaa5;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.btn {
    background-color: #4aaaa5;
}